@tailwind base;
@tailwind components;
@tailwind utilities;

.add-todo {
  min-width: 0;
}

.todo-input {
  min-width: 0;
  overflow-y: auto;
}

.todo-input[readonly]:focus {
  outline: none;
}

.todo-input:not([readonly]):focus {
  outline: none;
  border-bottom: 1px solid #80808066;
}
