@tailwind base;
@tailwind components;
@tailwind utilities;

.todo-input[readonly]:focus {
  outline: none;
}

.todo-input:not([readonly]):focus {
  outline: none;
  border-bottom: 1px solid #80808066;
}
